<!-- La accion tiene que ir a una forma que cheque el email. para que luego se le 
pueda manera un correo electornico con las instrucciones a seguir.-->



<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>heroku test</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
  <header>
    <h1>Tu cuenta   </h1>
  </header>

  <a href="/myReports">Mis reportes</a>
  <br>
  <a href="">Cambiar mi correo electronico</a>
  <br>
  <a href="">Mis aportes</a>
  <br>
  <a href="/byeUser">Eliminar mi cuenta</a>
    
  <script src="js/scripts.js"></script>
</body>
</html>


