<!-- La accion tiene que ir a una forma que cheque el email. para que luego se le 
pueda manera un correo electornico con las instrucciones a seguir.-->

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>heroku test</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
  <header>
    <h1>Recuperar clave</h1>
  </header>

  <label for="">Introduce tu correo Electrónico</label>
  <input type="text" name'email' placeholder="correo electronico">
    
  <script src="js/scripts.js"></script>
</body>
</html>



